
{{#each posts as |post|}}
<section class="card">
    <p style="padding:3px;">{{post.user.name}} on {{format_date post.date_created}}</p>
    <p style="color:#861723; font-size:15px; font-weight: bold; padding:10px;">{{post.title}}</p>
    <p style="font-size:40px; font-weight:bolder; text-align:center; padding:10px;"><a href="/post/{{post.id}}"
            style="color:black;">{{post.text}}</a></p>
    <div class="card-footer">
        <button class="comment-btn" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" id="comment-button">
            Comment
        </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form class="form comment-form">
                    <div class="form-group">
                        <textarea class="form-input" rows="5" id="comment-text-box" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="comment-btn" style="margin-top:5px;" id="comment-submit-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{/each}}
        <script src="/js/createComment.js"></script>